body{
	margin-left: 10%;
	margin-right: 10%;
}
.amount{
	font-size:60px;
	text-align: center;
}
#selectedcar{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}
#submitbutton{
	width: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display:block;
}
#editbutton{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#rates{
	width:75%;
	float:left;
	vertical-align: 'middle'
}
#commission{
	float:left;
	width:25%;
}
#rates1{
	width:75%;
	float:left;
	vertical-align: 'middle'
}
#commission1{
	float:left;
	width:25%;
}
#cashIncentivesTable, th, td{
	border: 1px solid black !important;
	border-collapse: collapse;
	width:45%;
	vertical-align: 'middle';
	margin-left: 5%;
	margin-right: 5%;
}
#leftside{
    width: 45%;
    float: left;
}
#rightside{
    width: 45%;
    float: right;
}
#center{
	text-align:center;
}
.center{
	text-align:center;
}
#title{
	text-align:center;
    font-size: 50px;
}
.leftside{
	width:75%;
	float:left;
	vertical-align: 'middle'
}
.rightside{
	float:left;
	width:25%;
}
#halfscreen{
	width:20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#disappear{
	width:auto;
}
.charts{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (max-width: 991px){
    #halfscreen{
        width: 40%;
    }
    
    #title{
        font-size: 50px;
    }
    .charttitle{
        font-size: 28px;
    }
    .charts{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    #halfscreen{
        width: 60%;
    }
    
    #title{
        font-size: 40px;
    }
    .charttitle{
        font-size: 23px;
    }
    .charts{
        width: 80%;
    }
}

@media screen and (max-width: 479px){
    #halfscreen{
        width: 90%;
    }
    
    #title{
        font-size: 25px;
    }
    .charttitle{
        font-size: 15px;
    }
    .charts{
        width: 90%;
    }
}